{{>header}}
<div class="container mt-4">
    {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {{/if}}

    {{#if success}}
        <div class="alert alert-success" role="alert">
           {{message}}
        </div>
    {{/if}}
    <form action="" method="post">
        <div>
            <label for="email">Enter your email Id</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <button class="btn btn-primary mt-2">Submit</button>
    </form>
</div>
{{>footer}}